# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform override files, used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log files
crash.log
crash.*.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Variables values, likely to contain sensitive data
*.tfvars
*.tfvars.json
